<%- include("partials/header")%>
<body class="home_body">
<div class="container">
    <div class="text-center" style="padding-top: 40vh;">
        <% if(!currentUser){%> 
        <p style="color: white; font-size: 20px;"> A simple authentication strategy using mongodb and passport js</p>
        <a href="/register" type="button" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" type="button" class="btn btn-success btn-lg">Login</a>
        <% }else {%> 
            <h1 style="color: white;"> Hello <%= currentUser.username %></h1>
        <% }%> 
    </div>
</div>

<%- include("partials/footer")%>